{% extends 'base.html' %}


{% block content %}


<h1>Post</h1>

<ul>
    {% for post in post_list %}
    <li>
        <a href="{% url 'post details'  post.pk post.slug %}" class="text-decoration-none"> {{ post.title }} </a>-
        <a href="{% url 'category' post.category|slugify %}" class="text-decoration-none">{{ post.category }} -</a>
        {{ post.author.first_name }} -
        {{ post.author.last_name }} -
        {{ post.created_on }}

        {% if user.is_authenticated %}
            {% if user.id == post.author_id %}
                <a class="text-decoration-none" href="{% url 'update post' post.pk %}">Edit</a>
                <a class="text-decoration-none" href="{% url 'delete post' post.pk %}">Delete</a>
            {% endif %}
        {% endif %}
        <br/>
        {{ post.snippet }}
    </li>
    {% endfor %}
</ul>


{% endblock %}
